$primary_rgb = 227,241,244
$primary_100 = rgb($primary_rgb)

$secondary_rgb = 189, 214, 221
$secondary_100 = rgb($secondary_rgb)


$header_text_rgb = 69, 91, 115
$header_text_100 = rgb($header_text_rgb)

$border_color_rgb = 201, 221, 227
$border_color_100 = rgb($border_color_rgb)

$article_text_rgb = 120, 138, 152
$article_text_100 = rgb($article_text_rgb)


$orange_rgb = 254, 102, 1
$orange_100 = rgb($orange_rgb)


$links_rgb = 124, 143, 173
$links_100 = rgb($links_rgb)